{% extends "layout.html" %}
{% block content %}
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <!-- Header -->
                <div class="row">
                    <h1 class="header col-sm-8 col-sm-offset-2">Failure!</h1>
                </div>
                <!-- /Header -->

                <!-- Description -->
                <div class="row">
                    <p class="description col-sm-8 col-sm-offset-2">Your payment has failed! to try again click below</p>
                        <p><a href="/payment"><button class="btn btn-info">Retry Payment</button></a></p>
                </div>
                <!-- /Description -->
            </div>

            <!-- Countdown -->

            <!-- /Countdown -->
<p>&nbsp;</p>
{% endblock %}