<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Freebie Compete - Coming Soon</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Favicon -->
        <link href="/static/img/favicon.ico" rel="shortcut icon">

        <!-- Custom fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,100" rel="stylesheet">
        <link href="/static/css/social-font.css" rel="stylesheet">

        <!-- Bootstrap stylesheets -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template stylesheets -->
        <link href="/static/css/shader.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">

    </head>

    <body class="theme-darkness">
        <!-- Background container -->
        <div id="background-container" class="background-container">
            <div id="background-output" class="background-output"></div>
            <div id="vignette" class="background-vignette"></div>
            <div id="noise" class="background-noise"></div>
        </div>
    {% block content %}{% endblock %}
                            <!-- /Subscription form -->

                        <!-- Social links -->
                        <div class="social-links">
                            <a href="https://www.facebook.com/xtcrgaming" class="icon-facebook"></a>
                            <a href="https://twitter.com/xtcrgaming" class="icon-twitter-alt"></a>
                            <a href="https://youtube.com/xtcrgaming" class="icon-youtube"></a>
                            <a href="https://pinterest.com/xtcrgaming" class="icon-pinterest"></a>
                        </div>
                        <!-- /Social links -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Main content -->

        <!-- Scripts -->
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/jquery.countdown.js"></script>
        <script src="/static/js/placeholders.min.js"></script>
        <script src="/static/js/flat-surface-shader.js"></script>
        <script src="/static/config/main.config.js"></script>
        <script src="/static/js/shader.js"></script>
    </body>
</html>

