{% extends "layout.html" %}
{% block content %}

    <div align="center">
 <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <div class="content">
            <div class="container">
  <h1>Donate to complete sign up</h1>
  <p>Complete payment below and you will be emailed a confirmation from Stripe and xTcR</p>
   <form action="/stripe2" method="post" id="stripeform">

    <input type='hidden' value='lo' name='asdf' id='asdf'>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_MjOyhptp99TO2UUMypnJwckz"
            data-description="xTcR Donation"
            data-amount="{% if team == 1 %}500{% else %}2000{% endif %}"></script>
  </form>
</div>

          </div>  </div>

{% endblock %}