{% extends "layout.html" %}
{% block content %}
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <!-- Header -->
                <div class="row">
                    <h1 class="header col-sm-8 col-sm-offset-2">Chose entry type:</h1>
                </div>
                <!-- /Header -->

                <!-- Description -->

                <!-- /Description -->
            </div>

            <!-- Countdown -->

            <!-- /Countdown -->
<p>&nbsp;</p>
            <div class="container">

                <div class="row">
                    <div class="form-and-links-container col-sm-8 col-sm-offset-2">
                        <!-- Subscription form -->

                        <div class="row">
                            <form action=""  id="subscription-form" method="post">
                            <div class="col-md-4">
                                <input class="landing-sign btn-main btn-sell btn-block btn btn-lg" type="submit" name="player" value="Sign up as a Player">

                                </div>
                            <div class="col-md-4">
                                </div><div>
                                </div><div>
                            <div class="col-md-4">
                        <input class="landing-sign btn-main btn-sell btn-block btn btn-lg" type="submit" name="team" value="Sign up as a Team">
                            </div>
                        </div>
                            </form>

                        <!-- /Subscription form -->


{% endblock %}